<button class="btn btn-dark" id="btnTop" (click)="topFunction()">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
        <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 3.707 5.354 6.354a.5.5 0 1 1-.708-.708l3-3z"/>
      </svg>
</button>

<div class="load w-100 d-flex justify-content-center align-items-center">
    <div class="loadingPage spinner-border text-primary" role="status"></div>
    <span class="ml-3">Carregant les teves dades...</span>
</div>

<div class="container animate__animated animate__zoomIn animate__delay-4s">
    <div class="jumbotron mt-5">
        <div class="headerPerfil col-sm-12 mx-auto d-flex justify-content-center align-items-center">
            <h4 class="text-center">CONFIGURACIÓ DEL COMPTE</h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
                Editar perfil
            </button>
        </div>
        <div class="div-spacer"></div>
        <div class="div-spacer"></div>
        <table class="table table-striped w-75 mx-auto">
            <tbody>
                <tr>
                    <th>Nom Fiscal</th>
                </tr>
                <tr>
                    <td>{{details?.nom}}</td>
                </tr>
                <tr>
                    <th>Nom Comercial</th>
                </tr>
                <tr>
                    <td>{{details?.name_alias}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                </tr>
                <tr>
                    <td>{{details?.email}}</td>
                </tr>
                <tr>
                    <th>Telèfon de contacte</th>
                </tr>
                <tr>
                    <td>{{details?.phone}}</td>
                </tr>
                <tr>
                    <th>Adreça</th>
                </tr>
                <tr>
                    <td>{{details?.address}}</td>
                </tr>
                <tr>
                    <th>Població</th>
                </tr>
                <tr>
                    <td>{{details?.town}}</td>
                </tr>
                <tr>
                    <th>País</th>
                </tr>
                <tr>
                    <td>{{details?.fk_pays}}</td>
                </tr>
                <!-- <tr>
                    <th>Província</th>
                </tr>
                <tr>
                    <td>{{details?.fk_departement}}</td>
                </tr> -->
                <tr>
                    <th>Codi Postal</th>
                </tr>
                <tr>
                    <td>{{details?.zip}}</td>
                </tr>
                <tr>
                    <th>CIF/NIF</th>
                </tr>
                <tr>
                    <td>{{details?.siren}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edita el teu perfil d'usuari</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="actualitzarPerfilUsuari()" [formGroup]="form">
                <div class="modal-body">
                    <small id="profileHelp" class="form-text text-muted">*Camps obligatoris</small>
                    <br>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputNom">Nom fiscal*</label>
                                <input type="text" class="form-control" id="inputNomFiscal" name="nom" [(ngModel)]="dadesUsuari.nom"
                                formControlName="nomFiscal" [ngClass]="{'is-invalid' : form.get('nomFiscal').touched && form.get('nomFiscal').invalid}">
                                <div class="invalid-feedback">
                                    {{ 'REGISTER.INVALID_FEEDBACK1' | translate }}
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="inputNomEmpresa">Nom comercial*</label>
                                <input type="text" class="form-control" id="inputNomComercial" name="name_alias" [(ngModel)]="dadesUsuari.name_alias"
                                formControlName="nomComercial" [ngClass]="{'is-invalid' : form.get('nomComercial').touched && form.get('nomComercial').invalid}">
                                <div class="invalid-feedback">
                                    {{ 'REGISTER.INVALID_FEEDBACK1' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Correu electrònic*</label>
                                <input type="text" class="form-control" id="inputEmail" name="email" [(ngModel)]="dadesUsuari.email"
                                formControlName="email" [ngClass]="{'is-invalid' : form.get('email').touched && form.get('email').invalid}">
                                <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
                                    <div *ngIf="form.get('email').errors?.required">{{ 'REGISTER.INVALID_FEEDBACK1' | translate }}</div>
                                    <div *ngIf="form.get('email').errors.email">{{ 'REGISTER.INVALID_FEEDBACK6' | translate }}</div>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="inputTelefon">Telèfon de contacte*</label>
                                <input type="text" class="form-control" id="inputTelefon" name="phone" [(ngModel)]="dadesUsuari.phone"
                                formControlName="telefon" [ngClass]="{'is-invalid' : form.get('telefon').touched && form.get('telefon').invalid}">
                                <div *ngIf="form.get('telefon').touched && form.get('telefon').invalid" class="invalid-feedback">
                                    <div *ngIf="form.get('telefon').errors?.required">{{ 'REGISTER.INVALID_FEEDBACK1' | translate }}</div>
                                    <div *ngIf="form.get('telefon').errors.pattern">{{ 'REGISTER.INVALID_FEEDBACK5' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputAddress">Adreça*</label>
                                <input type="text" class="form-control" id="inputAddress" name="address" [(ngModel)]="dadesUsuari.address"
                                formControlName="direccio" [ngClass]="{'is-invalid' : form.get('direccio').touched && form.get('direccio').invalid}">
                                <div class="invalid-feedback">
                                    {{ 'REGISTER.INVALID_FEEDBACK1' | translate }}
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="inputTown">Població*</label>
                                <input type="text" class="form-control" id="inputTown" name="town" [(ngModel)]="dadesUsuari.town"
                                formControlName="poblacio" [ngClass]="{'is-invalid' : form.get('poblacio').touched && form.get('poblacio').invalid}">
                                <div class="invalid-feedback">
                                    {{ 'REGISTER.INVALID_FEEDBACK1' | translate }}
                                </div> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPaís">País*</label>
                                <select class="form-control" name="fk_pays" [(ngModel)]="dadesUsuari.fk_pays"
                                formControlName="pais" [ngClass]="{'is-invalid' : form.get('pais').touched && form.get('pais').invalid}">   
                                    <option *ngFor="let pais of paisos; index as i" value="{{pais.rowid}}">{{pais.code_iso}} - {{pais.label}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    {{ 'REGISTER.INVALID_FEEDBACK4' | translate }}
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="inputProvincia">Província*</label>
                                <select class="form-control" name="fk_departement" [(ngModel)]="dadesUsuari.fk_departement"
                                formControlName="provincia" [ngClass]="{'is-invalid' : form.get('provincia').touched && form.get('provincia').invalid}">   
                                    <option *ngFor="let provincia of provincies; index as i" value="{{provincia.rowid}}">{{provincia.nom}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    {{ 'REGISTER.INVALID_FEEDBACK3' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputZip">Codi Postal*</label>
                                <input type="text" class="form-control" id="inputZip" name="zip" [(ngModel)]="dadesUsuari.zip"
                                formControlName="codiPostal" [ngClass]="{'is-invalid' : form.get('codiPostal').touched && form.get('codiPostal').invalid}">
                                <div *ngIf="form.get('codiPostal').touched && form.get('codiPostal').invalid" class="invalid-feedback">
                                    <div *ngIf="form.get('codiPostal').errors?.required">{{ 'REGISTER.INVALID_FEEDBACK1' | translate }}</div>
                                    <div *ngIf="form.get('codiPostal').errors.pattern">{{ 'REGISTER.INVALID_FEEDBACK2' | translate }}</div>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="inputSiren">CIF/NIF*</label>
                                <input type="text" class="form-control" id="inputSiren" name="siren" [(ngModel)]="dadesUsuari.siren"
                                formControlName="cifNif" [ngClass]="{'is-invalid' : form.get('cifNif').touched && form.get('cifNif').invalid}">
                                <div *ngIf="form.get('cifNif').touched && form.get('cifNif').invalid" class="invalid-feedback">
                                    <div *ngIf="form.get('cifNif').errors?.required">{{ 'REGISTER.INVALID_FEEDBACK1' | translate }}</div>
                                    <div *ngIf="form.get('cifNif').errors.minlength || form.get('cifNif').errors.maxlength ">{{ 'REGISTER.INVALID_FEEDBACK7' | translate }}</div>
                                </div>
                            </div>
                        </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" id="tancarPopup" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
                    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Guardar els canvis</button>
                </div>
            </form>
        </div>
    </div>
</div>