.div-spacer 
{
    display: block;
    clear: both;
    height: 20px;
}
#btnTop 
{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnTop svg
{
    width: 30px;
    height: 30px;
}
.container.hidden
{
    opacity: 0;
    visibility: hidden;
}
.load
{
    // position: absolute;
    position: fixed;
    text-align: center;
    margin: 200px auto;
}
.load.hidden
{
    opacity: 0;
    visibility: hidden;
}