<button class="btn btn-dark" id="btnTop" (click)="topFunction()">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
        <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 3.707 5.354 6.354a.5.5 0 1 1-.708-.708l3-3z"/>
      </svg>
</button>

<div class="imatgeInicial text-center">
    <img class="d-block w-100" src="../../assets/imatgesMarketing/banner-marketing1.png" alt="Marketing">
    <h2>{{'MARKETING_DIGITAL.TITLE.TITLE' | translate }}</h2>
    <p class="primerParraf"><b>{{'MARKETING_DIGITAL.CONTENT.TEXTO_PRINCIPAL_ESTRATEGIAS' | translate }}</b></p>
    <p class="segonParraf"><b>{{'MARKETING_DIGITAL.CONTENT.TEXTO_PRINCIPAL_ESTRATEGIAS2' | translate }}</b></p>
</div>

<div class="franja d-flex w-100 align-items-center justify-content-center">
    <h1 class="my-auto">{{'MARKETING_DIGITAL.TITLE.TITLE_MARKETING_DIGITAL' | translate }}</h1>
</div>

<div class="segonaImatge">
    <div class="textSegonaImatge1">
        <h2 class="titolSegonaImatge">{{'MARKETING_DIGITAL.TITLE.TITLE_SEGUNDA_IMAGEN' | translate }}</h2>
        <p class="primerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{'MARKETING_DIGITAL.CONTENT.TEXTO_SEGUNDA_IMAGEN' | translate }}</p>
        <p class="segonParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{'MARKETING_DIGITAL.CONTENT.TEXTO_SEGUNDA_IMAGEN2' | translate }}</p>
    </div>
    <div class="textSegonaImatge2">
        <h2 class="titolSegonaImatge2">{{'MARKETING_DIGITAL.TITLE.TITLE_SEGUNDA_IMAGEN2' | translate }}</h2>
        <p class="primerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{'MARKETING_DIGITAL.CONTENT.TEXTO_SEGUNDA_IMAGEN3' | translate }}</p>
        <p class="segonParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{'MARKETING_DIGITAL.CONTENT.TEXTO_SEGUNDA_IMAGEN4' | translate }}</p>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="descripcioMarketing col-12">
        <h3><b>{{'MARKETING_DIGITAL.TITLE.TITLE_ESTUDIOS_ESTRATEGIAS' | translate }}</b></h3>
        <br>
        <br>
        <ul>
            <li>{{'MARKETING_DIGITAL.CONTENT.TEXTO_ESTUDIOS_ESTRATEGIAS' | translate }}</li>
            <br>
            <li>{{'MARKETING_DIGITAL.CONTENT.TEXTO_ESTUDIOS_ESTRATEGIAS2' | translate }}</li>
            <br>
            <li>{{'MARKETING_DIGITAL.CONTENT.TEXTO_ESTUDIOS_ESTRATEGIAS3' | translate }}</li>
            <br>
            <li>{{'MARKETING_DIGITAL.CONTENT.TEXTO_ESTUDIOS_ESTRATEGIAS4' | translate }}</li>
        </ul>
    </div>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<h4 class="titolPosicionament text-center w-50"><span>{{'MARKETING_DIGITAL.TITLE.TITLE_POSICIONAMIENTO_GOOGLE' | translate }}</span></h4>
<br>
<br>
<div class="row d-flex justify-content-center">
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_POSICIONAMIENTO' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_POSICIONAMIENTO' | translate }}</p>
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_POSICIONAMIENTO2' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_POSICIONAMIENTO2' | translate }}</p>
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_POSICIONAMIENTO3' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_POSICIONAMIENTO3' | translate }}</p>
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_POSICIONAMIENTO4' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_POSICIONAMIENTO4' | translate }}</p>
    </div>
</div>

<div class="row">
    <a class="mx-auto" href="/marketing-digital#posicionament">{{'MARKETING_DIGITAL.LINKS.LINK_POSICIONAMIENTO' | translate }}</a>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<h4 class="titolPosicionament text-center w-50"><span>{{'MARKETING_DIGITAL.TITLE.TITLE_REDES_SOCIALES' | translate }}</span></h4>

<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_REDES_SOCIALES' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_RESES_SOCIALES' | translate }}</p>
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_REDES_SOCIALES2' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_RESES_SOCIALES2' | translate }}</p>
    </div>
</div>

<div class="row">
    <a class="mx-auto" href="/marketing-digital#xarxes">{{'MARKETING_DIGITAL.LINKS.LINK_REDES_SOCIALES' | translate }}</a>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<h4 class="titolPosicionament text-center w-50"><span>{{'MARKETING_DIGITAL.TITLE.TITLE_CONTENIDO_MULTIMEDIA' | translate }}</span></h4>

<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="contingut col-md-4 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_CONTENIDO_MULTIMEDIA' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_CONTENIDO_MULTIMEDIA' | translate }}</p>
    </div>
    <div class="contingut col-md-4 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_CONTENIDO_MULTIMEDIA2' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_CONTENIDO_MULTIMEDIA2' | translate }}</p>
    </div>
    <div class="contingut col-md-4 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_CONTENIDO_MULTIMEDIA3' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_CONTENIDO_MULTIMEDIA3' | translate }}</p>
    </div>
</div>

<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="contingut col-md-4 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_CONTENIDO_MULTIMEDIA4' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_CONTENIDO_MULTIMEDIA4' | translate }}</p>
    </div>
    <div class="contingut col-md-4 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_CONTENIDO_MULTIMEDIA5' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_CONTENIDO_MULTIMEDIA5' | translate }}</p>
    </div>
    <div class="contingut col-md-4 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg><h5 class="subtitolPosicionament"> {{'MARKETING_DIGITAL.TITLE.TITLE_APARTADO_CONTENIDO_MULTIMEDIA6' | translate }}</h5>
        </div>
        <p>{{'MARKETING_DIGITAL.CONTENT.TEXTO_APARTADO_CONTENIDO_MULTIMEDIA6' | translate }}</p>
    </div>
</div>

<div class="div-spacer"></div>

<div class="row">
    <a class="mx-auto" href="/marketing-digital#contingut">{{'MARKETING_DIGITAL.LINKS.LINK_CONTENIDO_MULTIMEDIA' | translate }}</a>
</div>

<div class="div-spacer" id="posicionament"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="franja d-flex w-100 align-items-center justify-content-center">
    <h4 class="my-auto">{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_POSICIONAMIENTO' | translate }}</h4>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_POSICIONAMIENTO2' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO1' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO1-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO1-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO1-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO1-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO1-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
        <br>
    </div>
    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_POSICIONAMIENTO3' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO2-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO2-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO2-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO2-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO2-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>
    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_POSICIONAMIENTO4' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO3-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO3-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO3-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO3-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO3-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>
    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_POSICIONAMIENTO5' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO4-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO4-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO4-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO4-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_POSICIONAMIENTO4-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>
</div>

<div class="div-spacer" id="xarxes"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="franja d-flex w-100 align-items-center justify-content-center">
    <h4 class="my-auto">{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_REDES_SOCIALES' | translate }}</h4>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_REDES_SOCIALES2' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES1' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES1-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES1-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES1-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES1-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES1-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>

    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_REDES_SOCIALES3' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES2-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES2-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES2-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES2-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_REDES_SOCIALES2-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>
</div>

<div class="div-spacer" id="contingut"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="franja d-flex w-100 align-items-center justify-content-center">
    <h4 class="my-auto">{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_MULTIMEDIA' | translate }}</h4>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_MULTIMEDIA2' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA1' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA1-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA1-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA1-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA1-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA1-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>
    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_MULTIMEDIA3' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA2-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA2-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA2-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA2-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA2-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>
    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_MULTIMEDIA4' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA3-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA3-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA3-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA3-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA3-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>
    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_MULTIMEDIA5' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA4-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA4-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA4-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA4-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA4-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>

    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_MULTIMEDIA6' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA5-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA5-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA5-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA5-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA5-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>
    <div class="plans col-md-5 mb-md-0 mb-3">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{'MARKETING_DIGITAL.TITLE.TITLE_BLOQUE_MULTIMEDIA7' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA6' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA6-2' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA6-3' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA6-4' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA6-5' | translate }}</span></li>
            <li><span>{{'MARKETING_DIGITAL.CONTENT.TEXTO_BLOQUE_MULTIMEDIA6-6' | translate }}</span></li>
        </ul>
        <br>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
        <br>
    </div>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>


<div id="textFinalMarqueting" class="row d-flex justify-content-center">
    <div class="descripcioMarketing col-7">
        <ul>
            <li>{{'MARKETING_DIGITAL.CONTENT.TEXTO_FINAL_MARKETING_DIGITAL' | translate }}</li>
        </ul>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{'MARKETING_DIGITAL.BUTTON.TEXTO_BUTTON_FINAL_MARKETING_DIGITAL' | translate }}</button>
    </div>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="formulariContacte row d-flex justify-content-center align-items-center">
    <form class="form2 w-100" (ngSubmit)="enviarDadesTrucar()" [formGroup]="form2">
      <fieldset class="w-75" id="formContact">
        <h5>{{ 'FORMS.TITLE2' | translate }}</h5>
        <hr>
        <small class="form-text text-muted"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
        </svg>{{ 'FORMS.DESCRIPTION1' | translate }}</small>
        <small class="form-text text-muted">{{ 'FORMS.DESCRIPTION2' | translate }}</small>
        <br>
        <div class="form-row">
          <div class="form-group col-md-6">
              <label for="inputNom">{{ 'FORMS.INPUT1' | translate }}</label>
              <input type="text" class="form-control" id="inputNom" placeholder="{{ 'FORMS.PLACEHOLDER1' | translate }}" name="nom" [(ngModel)]="dadesTrucar.nom"
              formControlName="nom" [ngClass]="{'is-invalid' : form2.get('nom').touched && form2.get('nom').invalid}">
                        <div class="invalid-feedback">
                            {{ 'FORMS.INVALID_FEEDBACK1' | translate }}
                        </div>
          </div>
          <div class="form-group col-md-6">
              <label for="inputNomEmpresa">{{ 'FORMS.INPUT2' | translate }}</label>
              <input type="text" class="form-control" id="inputNomEmpresa" placeholder="{{ 'FORMS.PLACEHOLDER2' | translate }}" name="nomEmpresa" [(ngModel)]="dadesTrucar.nomEmpresa"
              formControlName="nomEmpresa" [ngClass]="{'is-invalid' : form2.get('nomEmpresa').touched && form2.get('nomEmpresa').invalid}">
                        <div class="invalid-feedback">
                            {{ 'FORMS.INVALID_FEEDBACK1' | translate }}
                        </div>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail">{{ 'FORMS.INPUT3' | translate }}</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="{{ 'FORMS.PLACEHOLDER3' | translate }}" name="email" [(ngModel)]="dadesTrucar.email"
                formControlName="email" [ngClass]="{'is-invalid' : form2.get('email').touched && form2.get('email').invalid}">
							<div *ngIf="form2.get('email').touched && form2.get('email').invalid" class="invalid-feedback">
								<div *ngIf="form2.get('email').errors?.required">{{ 'FORMS.INVALID_FEEDBACK1' | translate }}</div>
								<div *ngIf="form2.get('email').errors.email">{{ 'FORMS.INVALID_FEEDBACK2' | translate }}</div>
							</div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputTelefon">{{ 'FORMS.INPUT4' | translate }}</label>
            <input type="text" class="form-control" id="inputTelefon" placeholder="{{ 'FORMS.PLACEHOLDER4' | translate }}" name="telefon" [(ngModel)]="dadesTrucar.telefon"
            formControlName="telefon" [ngClass]="{'is-invalid' : form2.get('telefon').touched && form2.get('telefon').invalid}">
							<div *ngIf="form2.get('telefon').touched && form2.get('telefon').invalid" class="invalid-feedback">
								<div *ngIf="form2.get('telefon').errors?.required">{{ 'FORMS.INVALID_FEEDBACK1' | translate }}</div>
								<div *ngIf="form2.get('telefon').errors.pattern">{{ 'FORMS.INVALID_FEEDBACK3' | translate }}</div>
							</div>
            </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" required
          formControlName="acceptarPolitiques" [ngClass]="{'is-invalid' : form2.get('acceptarPolitiques').touched && form2.get('acceptarPolitiques').invalid}">
          <label class="form-check-label" for="exampleCheck1">{{ 'FORMS.POLICY1' | translate }}<a routerLink="/politica-privacitat">{{ 'FORMS.POLICY3' | translate }}</a>.</label>
          <div *ngIf="form2.get('acceptarPolitiques').touched && form2.get('acceptarPolitiques').errors?.required" class="invalid-feedback">
            {{ 'FORMS.INVALID_FEEDBACK4' | translate }}
        </div>
        </div>
        <input type="submit" class="btn btn-success" value="Enviar" [disabled]="!form2.valid">
      </fieldset>
      <div class="div-spacer"></div>
      <div class="div-spacer"></div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">{{ 'FORMS.TITLE1' | translate }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="enviarDadesContacte()" [formGroup]="form">
                <small class="form-text text-muted"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                </svg>{{ 'FORMS.DESCRIPTION1' | translate }}</small>
                <small class="form-text text-muted">{{ 'FORMS.DESCRIPTION2' | translate }}</small>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNom">{{ 'FORMS.INPUT1' | translate }}</label>
                        <input type="text" class="form-control" id="inputNom" placeholder="{{ 'FORMS.PLACEHOLDER1' | translate }}" name="nom" [(ngModel)]="dadesContacte.nom"
                        formControlName="nom" [ngClass]="{'is-invalid' : form.get('nom').touched && form.get('nom').invalid}">
                        <div class="invalid-feedback">
                            {{ 'FORMS.INVALID_FEEDBACK1' | translate }}
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="inputNomEmpresa">{{ 'FORMS.INPUT2' | translate }}</label>
                        <input type="text" class="form-control" id="inputNomEmpresa" placeholder="{{ 'FORMS.PLACEHOLDER2' | translate }}" name="nomEmpresa" [(ngModel)]="dadesContacte.nomEmpresa"
                        formControlName="nomEmpresa" [ngClass]="{'is-invalid' : form.get('nomEmpresa').touched && form.get('nomEmpresa').invalid}">
                        <div class="invalid-feedback">
                            {{ 'FORMS.INVALID_FEEDBACK1' | translate }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail">{{ 'FORMS.INPUT3' | translate }}</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="{{ 'FORMS.PLACEHOLDER3' | translate }}" name="email" [(ngModel)]="dadesContacte.email"
                        formControlName="email" [ngClass]="{'is-invalid' : form.get('email').touched && form.get('email').invalid}">
							<div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
								<div *ngIf="form.get('email').errors?.required">{{ 'FORMS.INVALID_FEEDBACK1' | translate }}</div>
								<div *ngIf="form.get('email').errors.email">{{ 'FORMS.INVALID_FEEDBACK2' | translate }}</div>
							</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputTelefon">{{ 'FORMS.INPUT4' | translate }}</label>
                    <input type="text" class="form-control" id="inputTelefon" placeholder="{{ 'FORMS.PLACEHOLDER4' | translate }}" name="telefon" [(ngModel)]="dadesContacte.telefon"
                    formControlName="telefon" [ngClass]="{'is-invalid' : form.get('telefon').touched && form.get('telefon').invalid}">
							<div *ngIf="form.get('telefon').touched && form.get('telefon').invalid" class="invalid-feedback">
								<div *ngIf="form.get('telefon').errors?.required">{{ 'FORMS.INVALID_FEEDBACK1' | translate }}</div>
								<div *ngIf="form.get('telefon').errors.pattern">{{ 'FORMS.INVALID_FEEDBACK3' | translate }}</div>
							</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectDepartament">{{ 'FORMS.INPUT5' | translate }}</label>
                    <select class="form-control" id="selectDepartament" name="departament" [(ngModel)]="dadesContacte.departament"
                    formControlName="departament" [ngClass]="{'is-invalid' : form.get('departament').touched && form.get('departament').invalid}">
                        <option selected="selected" disabled>{{ 'FORMS.OPTION1' | translate }}</option>
                        <option value="info">{{ 'FORMS.OPTION2' | translate }}</option>
                        <option value="marketing">{{ 'FORMS.OPTION3' | translate }}</option>
                        <option value="suport">{{ 'FORMS.OPTION4' | translate }}</option>
                        <option value="comptabilitat">{{ 'FORMS.OPTION5' | translate }}</option>
                    </select>
                    <div class="invalid-feedback">
                        {{ 'FORMS.INVALID_FEEDBACK5' | translate }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNom">{{ 'FORMS.INPUT6' | translate }}</label>
                    <textarea class="form-control" id="textAreaInfo" rows="3" name="informacio" [(ngModel)]="dadesContacte.informacio"
                    formControlName="informacio" [ngClass]="{'is-invalid' : form.get('informacio').touched && form.get('informacio').invalid}"></textarea>
                    <div class="invalid-feedback">
                        {{ 'FORMS.INVALID_FEEDBACK1' | translate }}
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1"required
                    formControlName="acceptarPolitiques" [ngClass]="{'is-invalid' : form.get('acceptarPolitiques').touched && form.get('acceptarPolitiques').invalid}">
                    <label class="form-check-label" for="exampleCheck1">{{ 'FORMS.POLICY1' | translate }}<a routerLink="/politica-privacitat" (click)="tancarPopup()">{{ 'FORMS.POLICY3' | translate }}</a>.</label>
                    <div *ngIf="form.get('acceptarPolitiques').touched && form.get('acceptarPolitiques').errors?.required" class="invalid-feedback">
                        {{ 'FORMS.INVALID_FEEDBACK4' | translate }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="tancarPopup" class="btn btn-secondary" data-dismiss="modal">{{ 'FORMS.BUTTON1' | translate }}</button>
                    <input type="submit" value="{{ 'FORMS.BUTTON2' | translate }}" class="btn btn-success" [disabled]="!form.valid">
                </div>
            </form>
        </div>
    </div>
</div>