.div-spacer 
{
    display: block;
    clear: both;
    height: 20px;
}
#btnTop 
{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnTop svg
{
    width: 30px;
    height: 30px;
}
.container.hidden
{
    opacity: 0;
    visibility: hidden;
}
.load
{
    // position: absolute;
    position: fixed;
    text-align: center;
    margin: 200px auto;
}
.load.hidden
{
    opacity: 0;
    visibility: hidden;
}
.create-client{
    float: left;
}
.create-administrator{
    float:right;
}
.fix-height{
    height:400px;
    margin-left: 50px;
    margin-right: 50px;
}
h3{
    padding: 30px;
}
.btn-success{
    margin: 30px;
}
.center{
    margin: auto;
}
.btnimg{
    border-radius: 100%;
}