<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="avisLegal col-9">
        <h1><b>Política de Cookies de https://girohosting.com </b></h1>
        <br>
        <br>
        <ul>
            <li><b>{{ 'POLITICACOOKIES.TITLE.TITLE1' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT1' | translate }}</li>
            <br>
            <li><b>{{ 'POLITICACOOKIES.TITLE.TITLE2' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT2' | translate }}</li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT3' | translate }}</li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT4' | translate }}</li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT5' | translate }}</li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT6' | translate }}</li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT7' | translate }}</li>
            <br>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Cookies</th>
                    <th scope="col">{{ 'POLITICACOOKIES.TABLE.TITLE1' | translate }}</th>
                    <th scope="col">{{ 'POLITICACOOKIES.TABLE.TITLE2' | translate }}</th>
                    <th scope="col">{{ 'POLITICACOOKIES.TABLE.TITLE3' | translate }}</th>
                    <th scope="col">{{ 'POLITICACOOKIES.TABLE.TITLE4' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">_CONSENT <br> _ANID <br> _APISID <br> _SIDCC <br> _NID <br> _SID <br> _HSID <br> _1P_JAR</td>
                    <td>Google Analytics</td>
                    <td>{{ 'POLITICACOOKIES.TABLE.CONTENT1' | translate }}</td>
                    <td>{{ 'POLITICACOOKIES.TABLE.CONTENT2' | translate }}</td>
                    <td>{{ 'POLITICACOOKIES.TABLE.CONTENT3' | translate }} <br> <a href="http://www.google.com/intl/es/policies/privacy/" target="blank">http://www.google.com/intl/es/policies/privacy/</a></td>
                  </tr>
                </tbody>
              </table>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT8' | translate }}</li>
            <br>
            <li><b>{{ 'POLITICACOOKIES.TITLE.TITLE3' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT9' | translate }}</li>
            <br>
            <li><b>Firefox:</b></li>
            <br>
            <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="blank">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a>
            <br>
            <br>
            <li><b>Chrome:</b></li>
            <br>
            <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647" target="blank">http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</a>
            <br>
            <br>
            <li><b>{{ 'POLITICACOOKIES.TITLE.TITLE4' | translate }}</b></li>
            <br>
            <a href="https://support.google.com/chrome/answer/2392971?hl=es" target="blank">https://support.google.com/chrome/answer/2392971?hl=es</a>
            <br>
            <br>
            <li><b>Explorer:</b></li>
            <br>
            <a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="blank">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a>
            <br>
            <br>
            <li><b>Safari:</b></li>
            <br>
            <a href="http://support.apple.com/kb/ph5042" target="blank">http://support.apple.com/kb/ph5042</a>
            <br>
            <br>
            <li><b>{{ 'POLITICACOOKIES.TITLE.TITLE5' | translate }}</b></li>
            <br>
            <a href="https://support.google.com/chrome/answer/95647?hl=es&co=GENIE.Platform%3DiOS&oco=1" target="blank">https://support.google.com/chrome/answer/95647?hl=es&co=GENIE.Platform%3DiOS&oco=1</a>
            <br>
            <br>
            <li><b>Opera:</b></li>
            <br>
            <a href="https://help.opera.com/en/latest/security-and-privacy/" target="blank">https://help.opera.com/en/latest/security-and-privacy/</a>
            <br>
            <a href="https://www.opera.com/es/terms" target="blank">https://www.opera.com/es/terms</a>
            <br>
            <a href="http://www.allaboutcookies.org/es/administrar-las-cookies/opera.html" target="blank">http://www.allaboutcookies.org/es/administrar-las-cookies/opera.html</a>
            <br>
            <br>
            <li><b>{{ 'POLITICACOOKIES.TITLE.TITLE6' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT10' | translate }}</li>
            <br>
            <li><b>{{ 'POLITICACOOKIES.TITLE.TITLE7' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT11' | translate }}</li>
            <br>
            <li><b>{{ 'POLITICACOOKIES.TITLE.TITLE8' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICACOOKIES.CONTENT.CONTENT12' | translate }}</li>
        </ul>
    </div>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>
