/* You can add global styles to this file, and also import other style files */
.row
{
    margin: 0;
}
html
{
    scroll-behavior: smooth;
}
.titolPlan h5
{
    margin-bottom: 0;
}
// }
// @media screen and (prefers-reduced-motion: reduce) {
// 	html {
// 		scroll-behavior: auto;
// 	}