<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="contingut d-flex align-items-center">
    <div class="contignut2 text-center my-auto">
    <h1>{{ 'ERROR_PAGE.CONTENT.TITLE' | translate }}</h1>
    <br>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 mb-md-0 mb-3">
            <img class="d-block w-50 mx-auto" src="../../assets/imatgesVaris/error-servidor.png">
        </div>
        <div class="col-md-5 mb-md-0 mb-3">
            <ul class="text-left">{{ 'ERROR_PAGE.CONTENT.CONTENT1' | translate }}
                <li>{{ 'ERROR_PAGE.CONTENT.CONTENT2' | translate }}</li>
                <li>{{ 'ERROR_PAGE.CONTENT.CONTENT3' | translate }}</li>
                <li>{{ 'ERROR_PAGE.CONTENT.CONTENT4' | translate }}</li>
            </ul>
        </div>
    </div>
    <br>
    <a class="btn btn-warning mx-auto" routerLink="/inici" role="button">{{ 'ERROR_PAGE.CONTENT.VOLVER_INICIO' | translate }}</a>
    </div>
    
</div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>
