<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="avisLegal col-9">
        <h1><b>{{ 'POLITICAPRIVACITAT.TITLE.TITLE1' | translate }}</b></h1>
        <br>
        <br>
        <ul>
            <li><b>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE1' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT1' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT2' | translate }}</li>
            <br>
            <li><b>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE2' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT3' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT4' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT5' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT6' | translate }}</li>
            <br>
            <li><b>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE3' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT7' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT8' | translate }}</li>
            <br>
            <li><b>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE4' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT9' | translate }}</li>
            <br>
            <li><b>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE5' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT10' | translate }}</li>
            <br>
            <li><b>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE6' | translate }}</b></li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT11' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT12' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT13' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT14' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT15' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT16' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT17' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT18' | translate }}</li>
            <br>
            <li><b>{{ 'POLITICAPRIVACITAT.TITLE.SUBTITLE7' | translate }}</b></li> 
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT19' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT20' | translate }}</li>
            <br>
            <li>{{ 'POLITICAPRIVACITAT.CONTENT.CONTENT21' | translate }}</li>
        </ul>
    </div>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>