#btnTop 
{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnTop svg
{
    width: 30px;
    height: 30px;
}
.background
{
    background-image: url('../../assets/imatgesVaris/background-login-register.png');
    min-height: 90vh;
    background-size: 100% 100%;
}
    
.card
{
height: 90%;
margin-top: 50px;
margin-bottom: 50px;
width: 100%;
background-color: rgba(0,0,0,0.5) !important;
color: #FFC312;
} 
.card-header h3
{
color: white;
}
.card-header hr
{
    background-color: white;
}

input:focus
{
// outline: 0 0 0 0  !important;
// box-shadow: 0 0 0 0 !important;
// background-color: yellow;
border: 1px solid royalblue ;

}
input
{
    background-color: rgb(231, 231, 231);
}
.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 150px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
small
{
    color: #FFC312;
}
.check
{
    color: white;
}