<button class="btn btn-dark" id="btnTop" (click)="topFunction()">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
        <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 3.707 5.354 6.354a.5.5 0 1 1-.708-.708l3-3z"/>
      </svg>
</button>
<div class="imatgeInicial">
    <img class="d-block w-100" src="../../assets/imatgesManteniments/banner_sistemas.png" alt="Manteniments Informàtics">
    <h1>{{ 'MANTENIMENTS.TITLE.TITLE1' | translate }}</h1>
    <p class="textEsquerra"><b>{{ 'MANTENIMENTS.CONTENT.TITLE1_CONTENT1' | translate }}</b></p>
    <p class="textDreta"><b>{{ 'MANTENIMENTS.CONTENT.TITLE1_CONTENT2' | translate }}</b></p>
</div>

<div class="franja d-flex w-100 h-100 align-items-center justify-content-center">
    <h2>{{ 'MANTENIMENTS.TITLE.TITLE2' | translate }}</h2>
    <a class="btnVeurePlans btn btn-success ml-4 mr-2" href="/manteniments-informatics#plansmanteniments" role="button">{{ 'MANTENIMENTS.CONTENT.BUTTON_PLANS' | translate }}</a>
</div>

<div class="row d-flex justify-content-center">
    <div class="descripcioManteniments col-12">
        <h3><b>{{ 'MANTENIMENTS.TITLE.BLOCK1_TITLE' | translate }}</b></h3>
        <br>
        <h4 class="subtitol">{{ 'MANTENIMENTS.TITLE.BLOCK1_SUBTITLE' | translate }}</h4>
        <br>
        <br>
        <ul>
            <li>{{ 'MANTENIMENTS.CONTENT.BLOCK1_CONTENT1' | translate }}</li>
            <br>
            <li>{{ 'MANTENIMENTS.CONTENT.BLOCK1_CONTENT2' | translate }}</li>
            <br>
            <li>{{ 'MANTENIMENTS.CONTENT.BLOCK1_CONTENT3' | translate }}</li>
            <br>
            <li>{{ 'MANTENIMENTS.CONTENT.BLOCK1_CONTENT4' | translate }}</li> 
            <br>
            <li>{{ 'MANTENIMENTS.CONTENT.BLOCK1_CONTENT5' | translate }}</li>
            <br>
            <li>{{ 'MANTENIMENTS.CONTENT.BLOCK1_CONTENT6' | translate }}</li>
        </ul>
    </div>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<h4 class="titolPosicionament text-center w-50"><span>{{ 'MANTENIMENTS.TITLE.BLOCK2_TITLE' | translate }}</span></h4>

<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE1' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT1' | translate }}</p>
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE2' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT2' | translate }}</p>    
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE3' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT3' | translate }}</p>    
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE4' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT4' | translate }}</p>    
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE5' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT5' | translate }}</p>    
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE6' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT6' | translate }}</p>    
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE7' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT7' | translate }}</p>    
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE8' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT8' | translate }}</p>    
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE9' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT9' | translate }}</p>    
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE10' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT10' | translate }}</p>    
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE11' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT11' | translate }}</p>    
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.BLOCK2_SUBTITLE12' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.BLOCK2_CONTENT12' | translate }}</p>    
    </div>
</div>

<div class="div-spacer" id="plansmanteniments"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="plans col-md-7 mb-md-0 mb-3 text-justify">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <h5>{{ 'MANTENIMENTS.TITLE.TITLE_PLAN1' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN1_CONTENT1' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN1_CONTENT2' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN1_CONTENT3' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN1_CONTENT4' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN1_CONTENT5' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN1_CONTENT6' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN1_CONTENT7' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN1_CONTENT8' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN1_CONTENT9' | translate }}</span></li>
        </ul>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{ 'MANTENIMENTS.CONTENT.BUTTON_CONTACT' | translate }}</button>
        <br>
        <br>
    </div>
    <div class="plans col-md-7 mb-md-0 mb-3 text-center">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <br>
            <h5>{{ 'MANTENIMENTS.TITLE.TITLE_PLAN2' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN2_CONTENT1' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN2_CONTENT2' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN2_CONTENT3' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN2_CONTENT4' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN2_CONTENT5' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN2_CONTENT6' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN2_CONTENT7' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN2_CONTENT8' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN2_CONTENT9' | translate }}</span></li>
        </ul>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{ 'MANTENIMENTS.CONTENT.BUTTON_CONTACT' | translate }}</button>
        <br>
        <br>
    </div>
    <!-- <div class="plans col-md-7 mb-md-0 mb-3 text-center">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <br>
            <h5>{{ 'MANTENIMENTS.TITLE.TITLE_PLAN3' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN3_CONTENT1' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN3_CONTENT2' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN3_CONTENT3' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN3_CONTENT4' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN3_CONTENT5' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN3_CONTENT6' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN3_CONTENT7' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN3_CONTENT8' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN3_CONTENT9' | translate }}</span></li>
        </ul>
        <br>
        <a class="btn btn-success" routerLink="/contacte" role="button">{{ 'MANTENIMENTS.CONTENT.BUTTON_CONTACT' | translate }}</a>
        <br>
        <br>
    </div> -->
    <div class="plans col-md-7 mb-md-0 mb-3 text-center">
        <div class="titolPlan d-flex align-items-center justify-content-center">
            <br>
            <h5>{{ 'MANTENIMENTS.TITLE.TITLE_PLAN4' | translate }}</h5>
        </div>
        <br>
        <br>
        <br>
        <ul>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN4_CONTENT1' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN4_CONTENT2' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN4_CONTENT3' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN4_CONTENT4' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN4_CONTENT5' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN4_CONTENT6' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN4_CONTENT7' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN4_CONTENT8' | translate }}</span></li>
            <li><span>{{ 'MANTENIMENTS.CONTENT.PLAN4_CONTENT9' | translate }}</span></li>
        </ul>
        <br>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{ 'MANTENIMENTS.CONTENT.BUTTON_CONTACT' | translate }}</button>
        <br>
        <br>
    </div>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="imatgeMantenimentOrdinadors d-flex flex-row-reverse align-items-center ">
   
    <div class="textMantenimentOrdinadors col-md-6 mb-md-0 mb-3">
        <h4>{{ 'MANTENIMENTS.TITLE.TITLE_IMG1' | translate }}</h4>
        <p class="primerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG1_CONTENT1' | translate }}</p>
        <p class="segonParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG1_CONTENT2' | translate }}</p> 
    </div>
</div>

<div class="imatgeVirtualitzacioEquips row d-flex justify-content-center align-items-center">
    <div class="textVirtualitzacioEquips col-md-6 mb-md-0 mb-3">
        <h4>{{ 'MANTENIMENTS.TITLE.TITLE_IMG2' | translate }}</h4>
        <p class="primerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG2_CONTENT1' | translate }}</p>
        <p class="segonParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG2_CONTENT2' | translate }}</p>
    </div>
</div>

<div class="imatgeGsuite">
    <div class="textGsuite">
        <h4>{{ 'MANTENIMENTS.TITLE.TITLE_IMG4' | translate }}</h4>
        <p class="primerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG4_CONTENT1' | translate }}</p>
        <p class="segonParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG4_CONTENT2' | translate }}</p>
        <p class="tercerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG4_CONTENT3' | translate }}</p>    
    </div>  
</div>



<div class="servidorsGoogle row d-flex">
    <div class="titolServidorsGoogle col-md-12 mb-md-0 mb-3">
        <h4 class="titolServidorsGoogle w-90 ">{{ 'MANTENIMENTS.TITLE.TITLE_IMG3' | translate }}</h4>    </div>
    <div class="textServidorsGoogle col-md-4 mb-md-0 mb-3">
        <img src="../../assets/logosGoogle/cloud_lockup_vert.png"  width="130" height="90" alt="Google Cloud">
        <p class="primerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG3_CONTENT1' | translate }}</p>
            <br>
        <p class="segonParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG3_CONTENT2' | translate }}</p>
    </div>
    <div class="titolAux col-4">
    </div>
    <div class="textServidorsGoogle2 col-md-4 mb-md-0 mb-3">
        <h5>{{ 'MANTENIMENTS.TITLE.SUBTITLE_IMG3' | translate }}</h5>
        <p class="primerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG3_CONTENT3' | translate }}</p>
        <p class="segonParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG3_CONTENT4' | translate }}</p>
        <p class="tercerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG3_CONTENT5' | translate }}</p>
        <p class="quartParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG3_CONTENT6' | translate }}</p>
        <p class="cinqueParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.CONTENT.IMG3_CONTENT7' | translate }}</p>
    </div>
</div>

<!-- <div class="imatgeGsuite row d-flex">
    <div class="col-md-12 mb-md-0 mb-3 h-25">
        <h4>G SUITE I DRIVE DE GOOGLE</h4>
    </div>
    <div class="textGsuite col-md-4 mb-md-0 mb-3 align-self-end">
        <p class="primerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>El G Suite i el drive de Google ens ofereix una gran quantitat de beneficis. Són la millor solució per a qualsevol negoci o empresa que existeixi avui dia. Per a obtenir un correu electrònic i tenir les nostres dades al núvol eficaçment, de forma ràpida, fiable i amb una gran MANTENIMENTS que les nostres dades no es perdran. Google respon de forma eficaç i contundentment amb la MANTENIMENTS de la nostre informació.</p>
    </div>
    <div class="titolAux col-4">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="textGsuite2 col-md-3 mb-md-0 mb-3 align-self-start">
        <p class="primerParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>El correu electrònic personalitzat de G Suite, és el millor correu electrònic que existeix avui dia. G Suite et personalitza el teu Gmail, i et dóna uns avantatges excel·lent, com és el Drive amb espai il·limitat contractant més de 4 usuaris.</p>
         <div class="div-spacer"></div>
        <div class="div-spacer"></div>
        <div class="div-spacer"></div>
        <div class="div-spacer"></div>
        <p class="segonParraf"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>El Drive de Google ens ofereix la compartició interna i externa de totes les nostres dades, podem afegir permisos de quines dades volem compartir i quines no. Amb la total garantia i MANTENIMENTS de que mai les perdrem. És a dir, la nostre xarxa d’arxius al núvol es la millor solució i una gran reducció de despeses del nostre negoci o empresa.</p>
    </div>
</div> -->


<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<h4 class="titolPosicionament text-center w-50"><span>{{ 'MANTENIMENTS.TITLE.TITLE_SERVEIS' | translate }}</span></h4>

<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="icone bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z"/>
            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
          </svg>
        <br>
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.SERVEIS_SUBTITLE3' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.SERVEIS_CONTENT3' | translate }}</p>
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="icone bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
            <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z"/>
            <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4h-3.5a.5.5 0 0 1-.5-.5z"/>
          </svg>
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.SERVEIS_SUBTITLE2' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.SERVEIS_CONTENT2' | translate }}</p>
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="icone bi bi-gear-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
          </svg>
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.SERVEIS_SUBTITLE4' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.SERVEIS_CONTENT41' | translate }}<a routerLink="/dolibarr">{{ 'MANTENIMENTS.CONTENT.SERVEIS_CONTENT4_LINK' | translate }}</a>{{ 'MANTENIMENTS.CONTENT.SERVEIS_CONTENT42' | translate }}</p>
    </div>
    <div class="contingut col-md-5 mb-md-0 mb-3 text-center">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="icone bi bi-cart-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
          </svg>
        <div class="titol d-flex justify-content-center">
            <h5 class="subtitolPosicionament"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>{{ 'MANTENIMENTS.TITLE.SERVEIS_SUBTITLE1' | translate }}</h5>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.SERVEIS_CONTENT1' | translate }}</p>
    </div>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<h4 class="titolPosicionament text-center w-50"><span>{{ 'MANTENIMENTS.TITLE.TITLE_FAQ' | translate }}</span></h4>

<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="preguntesFrequents col-10">
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES1' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES1' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES2' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES2' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES3' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES3' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES4' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES4' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES5' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES5' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES6' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES6' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES7' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES7' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES8' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES8' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES9' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES9' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES10' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES10' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES11' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES11' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES12' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES12' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES13' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES13' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES14' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES14' | translate }}</p>
        <div class="pregunta d-flex align-items-center w-100">
            <label><b>{{ 'MANTENIMENTS.TITLE.TITLE_LISTA_PREGUNTAS_FRECUENTES15' | translate }}</b></label>
        </div>
        <p>{{ 'MANTENIMENTS.CONTENT.TEXTO_LISTA_PREGUNTAS_FRECUENTES15' | translate }}</p>
    </div>
</div>


<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div id="textFinalManteniments" class="row d-flex justify-content-center">
    <div class="descripcioManteniments col-7">
        <ul>
            <li>{{ 'MANTENIMENTS.CONTENT.CONTENT_SEO' | translate }}
            </li>
        </ul>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">{{ 'MANTENIMENTS.CONTENT.BUTTON_CONTACT' | translate }}</button>
    </div>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="formulariContacte row d-flex justify-content-center align-items-center">
    <form class="form2 w-100" (ngSubmit)="enviarDadesTrucar()" [formGroup]="form2">
      <fieldset class="w-75" id="formContact">
        <h5>{{ 'FORMS.TITLE2' | translate }}</h5>
        <hr>
        <small class="form-text text-muted"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
        </svg>{{ 'FORMS.DESCRIPTION1' | translate }}</small>
        <small class="form-text text-muted">{{ 'FORMS.DESCRIPTION2' | translate }}</small>
        <br>
        <div class="form-row">
          <div class="form-group col-md-6">
              <label for="inputNom">{{ 'FORMS.INPUT1' | translate }}</label>
              <input type="text" class="form-control" id="inputNom" placeholder="{{ 'FORMS.PLACEHOLDER1' | translate }}" name="nom" [(ngModel)]="dadesTrucar.nom"
              formControlName="nom" [ngClass]="{'is-invalid' : form2.get('nom').touched && form2.get('nom').invalid}">
                        <div class="invalid-feedback">
                            {{ 'FORMS.INVALID_FEEDBACK1' | translate }}
                        </div>
          </div>
          <div class="form-group col-md-6">
              <label for="inputNomEmpresa">{{ 'FORMS.INPUT2' | translate }}</label>
              <input type="text" class="form-control" id="inputNomEmpresa" placeholder="{{ 'FORMS.PLACEHOLDER2' | translate }}" name="nomEmpresa" [(ngModel)]="dadesTrucar.nomEmpresa"
              formControlName="nomEmpresa" [ngClass]="{'is-invalid' : form2.get('nomEmpresa').touched && form2.get('nomEmpresa').invalid}">
                        <div class="invalid-feedback">
                            {{ 'FORMS.INVALID_FEEDBACK1' | translate }}
                        </div>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail">{{ 'FORMS.INPUT3' | translate }}</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="{{ 'FORMS.PLACEHOLDER3' | translate }}" name="email" [(ngModel)]="dadesTrucar.email"
                formControlName="email" [ngClass]="{'is-invalid' : form2.get('email').touched && form2.get('email').invalid}">
							<div *ngIf="form2.get('email').touched && form2.get('email').invalid" class="invalid-feedback">
								<div *ngIf="form2.get('email').errors?.required">{{ 'FORMS.INVALID_FEEDBACK1' | translate }}</div>
								<div *ngIf="form2.get('email').errors.email">{{ 'FORMS.INVALID_FEEDBACK2' | translate }}</div>
							</div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputTelefon">{{ 'FORMS.INPUT4' | translate }}</label>
            <input type="text" class="form-control" id="inputTelefon" placeholder="{{ 'FORMS.PLACEHOLDER4' | translate }}" name="telefon" [(ngModel)]="dadesTrucar.telefon"
            formControlName="telefon" [ngClass]="{'is-invalid' : form2.get('telefon').touched && form2.get('telefon').invalid}">
							<div *ngIf="form2.get('telefon').touched && form2.get('telefon').invalid" class="invalid-feedback">
								<div *ngIf="form2.get('telefon').errors?.required">{{ 'FORMS.INVALID_FEEDBACK1' | translate }}</div>
								<div *ngIf="form2.get('telefon').errors.pattern">{{ 'FORMS.INVALID_FEEDBACK3' | translate }}</div>
							</div>
            </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" required
          formControlName="acceptarPolitiques" [ngClass]="{'is-invalid' : form2.get('acceptarPolitiques').touched && form2.get('acceptarPolitiques').invalid}">
          <label class="form-check-label" for="exampleCheck1">{{ 'FORMS.POLICY1' | translate }}<a routerLink="/politica-privacitat">{{ 'FORMS.POLICY3' | translate }}</a>.</label>
          <div *ngIf="form2.get('acceptarPolitiques').touched && form2.get('acceptarPolitiques').errors?.required" class="invalid-feedback">
            {{ 'FORMS.INVALID_FEEDBACK4' | translate }}
        </div>
        </div>
        <input type="submit" class="btn btn-success" value="Enviar" [disabled]="!form2.valid">
      </fieldset>
      <div class="div-spacer"></div>
      <div class="div-spacer"></div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">{{ 'FORMS.TITLE1' | translate }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="enviarDadesContacte()" [formGroup]="form">
                <small class="form-text text-muted"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                </svg>{{ 'FORMS.DESCRIPTION1' | translate }}</small>
                <small class="form-text text-muted">{{ 'FORMS.DESCRIPTION2' | translate }}</small>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNom">{{ 'FORMS.INPUT1' | translate }}</label>
                        <input type="text" class="form-control" id="inputNom" placeholder="{{ 'FORMS.PLACEHOLDER1' | translate }}" name="nom" [(ngModel)]="dadesContacte.nom"
                        formControlName="nom" [ngClass]="{'is-invalid' : form.get('nom').touched && form.get('nom').invalid}">
                        <div class="invalid-feedback">
                            {{ 'FORMS.INVALID_FEEDBACK1' | translate }}
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="inputNomEmpresa">{{ 'FORMS.INPUT2' | translate }}</label>
                        <input type="text" class="form-control" id="inputNomEmpresa" placeholder="{{ 'FORMS.PLACEHOLDER2' | translate }}" name="nomEmpresa" [(ngModel)]="dadesContacte.nomEmpresa"
                        formControlName="nomEmpresa" [ngClass]="{'is-invalid' : form.get('nomEmpresa').touched && form.get('nomEmpresa').invalid}">
                        <div class="invalid-feedback">
                            {{ 'FORMS.INVALID_FEEDBACK1' | translate }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail">{{ 'FORMS.INPUT3' | translate }}</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="{{ 'FORMS.PLACEHOLDER3' | translate }}" name="email" [(ngModel)]="dadesContacte.email"
                        formControlName="email" [ngClass]="{'is-invalid' : form.get('email').touched && form.get('email').invalid}">
							<div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
								<div *ngIf="form.get('email').errors?.required">{{ 'FORMS.INVALID_FEEDBACK1' | translate }}</div>
								<div *ngIf="form.get('email').errors.email">{{ 'FORMS.INVALID_FEEDBACK2' | translate }}</div>
							</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputTelefon">{{ 'FORMS.INPUT4' | translate }}</label>
                    <input type="text" class="form-control" id="inputTelefon" placeholder="{{ 'FORMS.PLACEHOLDER4' | translate }}" name="telefon" [(ngModel)]="dadesContacte.telefon"
                    formControlName="telefon" [ngClass]="{'is-invalid' : form.get('telefon').touched && form.get('telefon').invalid}">
							<div *ngIf="form.get('telefon').touched && form.get('telefon').invalid" class="invalid-feedback">
								<div *ngIf="form.get('telefon').errors?.required">{{ 'FORMS.INVALID_FEEDBACK1' | translate }}</div>
								<div *ngIf="form.get('telefon').errors.pattern">{{ 'FORMS.INVALID_FEEDBACK3' | translate }}</div>
							</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectDepartament">{{ 'FORMS.INPUT5' | translate }}</label>
                    <select class="form-control" id="selectDepartament" name="departament" [(ngModel)]="dadesContacte.departament"
                    formControlName="departament" [ngClass]="{'is-invalid' : form.get('departament').touched && form.get('departament').invalid}">
                        <option selected="selected" disabled>{{ 'FORMS.OPTION1' | translate }}</option>
                        <option value="info">{{ 'FORMS.OPTION2' | translate }}</option>
                        <option value="marketing">{{ 'FORMS.OPTION3' | translate }}</option>
                        <option value="suport">{{ 'FORMS.OPTION4' | translate }}</option>
                        <option value="comptabilitat">{{ 'FORMS.OPTION5' | translate }}</option>
                    </select>
                    <div class="invalid-feedback">
                        {{ 'FORMS.INVALID_FEEDBACK5' | translate }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNom">{{ 'FORMS.INPUT6' | translate }}</label>
                    <textarea class="form-control" id="textAreaInfo" rows="3" name="informacio" [(ngModel)]="dadesContacte.informacio"
                    formControlName="informacio" [ngClass]="{'is-invalid' : form.get('informacio').touched && form.get('informacio').invalid}"></textarea>
                    <div class="invalid-feedback">
                        {{ 'FORMS.INVALID_FEEDBACK1' | translate }}
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1"required
                    formControlName="acceptarPolitiques" [ngClass]="{'is-invalid' : form.get('acceptarPolitiques').touched && form.get('acceptarPolitiques').invalid}">
                    <label class="form-check-label" for="exampleCheck1">{{ 'FORMS.POLICY1' | translate }}<a routerLink="/politica-privacitat" (click)="tancarPopup()">{{ 'FORMS.POLICY3' | translate }}</a>.</label>
                    <div *ngIf="form.get('acceptarPolitiques').touched && form.get('acceptarPolitiques').errors?.required" class="invalid-feedback">
                        {{ 'FORMS.INVALID_FEEDBACK4' | translate }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="tancarPopup" class="btn btn-secondary" data-dismiss="modal">{{ 'FORMS.BUTTON1' | translate }}</button>
                    <input type="submit" value="{{ 'FORMS.BUTTON2' | translate }}" class="btn btn-success" [disabled]="!form.valid">
                </div>
            </form>
        </div>
    </div>
</div>
