<div class="div-spacer"></div>
<div class="div-spacer"></div>

<div class="row d-flex justify-content-center">
    <div class="avisLegal col-9">
        <h1><b>{{ 'AVISLEGAL.TITLE.TITLE1' | translate }}</b></h1>
        <br>
        <br>
        <ul>
            <li>{{ 'AVISLEGAL.CONTENT.CONTENT1' | translate }}</li>
            <br>
            <li>{{ 'AVISLEGAL.CONTENT.CONTENT2' | translate }}</li>
            <br>
            <li><b>{{ 'AVISLEGAL.TITLE.SUBTITLE1' | translate }}</b></li>
            <br>
            <li>{{ 'AVISLEGAL.CONTENT.CONTENT3' | translate }}</li>
            <br>
            <li>{{ 'AVISLEGAL.CONTENT.CONTENT4' | translate }}</li>
            <br>
            <li>{{ 'AVISLEGAL.CONTENT.CONTENT5' | translate }}</li>
            <br>
            <li>{{ 'AVISLEGAL.CONTENT.CONTENT6' | translate }}</li>
            <br>
            <li><b>{{ 'AVISLEGAL.TITLE.SUBTITLE2' | translate }}</b></li>
            <br>
            <li>{{ 'AVISLEGAL.CONTENT.CONTENT7' | translate }}</li>
            <br>
            <li>{{ 'AVISLEGAL.CONTENT.CONTENT8' | translate }}</li>
            <br>
            <li><b>{{ 'AVISLEGAL.TITLE.SUBTITLE3' | translate }}</b></li>
            <br>
            <li>{{ 'AVISLEGAL.CONTENT.CONTENT9' | translate }}</li>
            <br>
            <li><b>{{ 'AVISLEGAL.TITLE.SUBTITLE4' | translate }}</b></li>
            <br>
            <li>{{ 'AVISLEGAL.CONTENT.CONTENT10' | translate }}</li>
        </ul>
    </div>
</div>

<div class="div-spacer"></div>
<div class="div-spacer"></div>
<div class="div-spacer"></div>